
/* Navbar */
nav {
  height: 60px;
  background: #0b1f33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 2px solid #19d5ff55;
}

nav .brand {
  color: #19d5ff;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(25, 213, 255, 0.3);
}

.glow-orange {
  box-shadow: 0 0 10px rgba(251, 146, 60, 0.6);
}

.glow-green {
  box-shadow: 0 0 12px rgba(22, 163, 74, 0.8);
}

.glow-box-orange {
  box-shadow: 0 0 15px rgba(251, 146, 60, 0.15);
}

.glow-box-orange:hover {
  box-shadow: 0 0 20px rgba(251, 146, 60, 0.25);
}

.glow-box-green {
  box-shadow: 0 0 15px rgba(22, 163, 74, 0.15);
}

.glow-box-green:hover {
  box-shadow: 0 0 20px rgba(22, 163, 74, 0.25);
}

.glow-box-red {
  box-shadow: 0 0 15px rgba(220, 38, 38, 0.2);
}

.glow-box-red:hover {
  box-shadow: 0 0 25px rgba(220, 38, 38, 0.4);
}


nav button:hover {
  transform: translateY(-1px);
}

nav button:active {
  transform: translateY(0);
}
nav button {
  background: #19d5ff;
  color: #001a2a;
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
nav button:hover {
  background: #47eaff;
}

/* Dashboard content */
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Image cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  width: 80%;
}

.card {
  background: #0a1933;
  border: 1px solid #19d5ff44;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 12px #19d5ff55;
}

.card img {
  width: 120px;
  margin-bottom: 12px;
  filter: drop-shadow(0 0 6px #19d5ff77);
}

.card h3 {
  color: #19d5ff;
  font-size: 18px;
  margin-bottom: 5px;
}
